<!-- Prompt Messages Container - Modify the height according to your need -->


<div class="flex h-screen w-full flex-col">
    <!-- Prompt Messages Removed overflow-y-auto from chat class may be needed if we put inside another contaner -->
    <div id="chat" 
      class="flex-1 rounded-xl bg-slate-200 p-4 text-sm leading-6 text-slate-900 dark:bg-slate-800 dark:text-slate-300 sm:text-base sm:leading-7"
    >

    <ng-container *ngFor="let prompt of prompts">
        <app-prompt-message *ngIf="prompt.type === 'human'" [message]="prompt.message"></app-prompt-message>
        <app-ai-prompt-message *ngIf="prompt.type === 'ai'" [message]="prompt.message"></app-ai-prompt-message>
    </ng-container>


    
    <!-- Prompt message input -->
    <app-prompt-input [buttonLabels]="buttonLabels" 
                    (inputSubmitted)="handleInputSubmitted($event)"
                    [showProcessing]="showProcessing"></app-prompt-input>

  </div>