<!-- Prompt Messages Container - Modify the height according to your need -->
<div class="flex h-[97vh] w-full flex-col">
    <!-- Prompt Messages -->
    <div id="chat" 
      class="flex-1 overflow-y-auto rounded-xl bg-slate-200 p-4 text-sm leading-6 text-slate-900 dark:bg-slate-800 dark:text-slate-300 sm:text-base sm:leading-7"
    >

    <ng-container *ngFor="let prompt of prompts">
        <app-prompt-message *ngIf="prompt.type === 'human'" [message]="prompt.message"></app-prompt-message>
        <app-ai-prompt-message *ngIf="prompt.type === 'ai'" [message]="prompt.message"></app-ai-prompt-message>
    </ng-container>


    <app-prompt-suggestions [buttonLabels]="buttonLabels"></app-prompt-suggestions>
    <!-- Prompt message input -->
    <app-prompt-input (inputSubmitted)="handleInputSubmitted($event)"></app-prompt-input>
  </div>